<!-- Derivaciones -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form>

                <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label col-form-label-lg">Dr(a).</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Nombre" />
                        </div>
                        <label class="col-sm-2 col-form-label col-form-label-lg"> con correo electrónico</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Email" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <br>
                            <h4>Agradecería atender profesionalmente en su especialidad al paciente <b>JUAN PEREZ</b></h4>
                            <br>
                            <h4>Mensaje Personal al profesional (opcional)</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Ingresa mensaje personal"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h4>Diagnóstico</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <!-- El/la paciente ha sido diagnosticado(a) + -->
                            <textarea class="form-control" rows="2" placeholder="Ingrese el diagnostico"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h4>Le saluda atentamente,</h4>
                        <h4>Dr. JUAN PEREZ</h4>
                        <h4>doctor.email@gmail.com</h4>
                    </div>
                    <div class="col-sm-12 col-md-12 d-flex">
                    </div>
                </div>

                <div class="row d-flex justify-content-end ">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4>Listado de recetas históricas</h4>
        </div>
    </div>
</div>

<!-- / Derivaciones -->