<!-- Recetas -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <h4><b>Sr(a), </b>Juan Pérez</h4>
                            <h4><b>Num id paciente: </b>1717226203</h4>
                            <h4><b>Fecha nacimiento: </b>2023-01-01</h4>
                            <h4><b>Fecha emisión: </b>2024-07-29</h4>
                            <br>
                            <h4><b>R.P.</b></h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Ingresa receta"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                        <h4>Dr. JUAN PEREZ</h4>
                    </div>
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                        <h4>correo.doctor@gmail.com</h4>
                    </div>
                </div>

                <div class="row d-flex justify-content-end ">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4>Listado de recetas históricas</h4>
        </div>
    </div>
</div>

<!-- / Recetas -->