<!-- Endondoncia -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h3 class="mt-5 mb-5">Contenido Endondoncia</h3>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="numId">Observaciones/Diagnóstico:</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div> -->
                

                <div class="row d-flex justify-content-end ">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Guardar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- / Endondoncia -->
