<!-- Interconsultas -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <h3>Órdenes de Laboratorio</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Profesional</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-lg" value="JUAN PEREZ" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Laboratorio</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">LAB SA</option>
                                    <option value="2">CLINICA LAB 2</option>
                                    <option value="3">Laboratorio 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Tipo de trabajo</label>
                            <div class="col-sm-9">
                                <!-- Select Planos y Odontologia, HIDDEN: Subtipo de trabajo, Gria de color y color  -->
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">Prótesis Fija Unitaria</option>
                                    <option value="2">Prótesis Fija Plural</option>
                                    <option value="3">Prótesis Removible</option>
                                    <option value="4">Operatoria Indirecta</option>
                                    <option value="5">Planos</option>
                                    <option value="6">Odontología</option>
                                    <option value="7">Otros (Encerados, Provisorios, etc.)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Subtipo de trabajo</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">PFU sobre diente: all ceram</option>
                                    <option value="2">PFU sobre diente: metal/porcelana</option>
                                    <option value="3">PFU sobre diente: metálica</option>
                                    <option value="4">PFU sobre IOI: all ceram</option>
                                    <option value="5">PFU sobre IOI: metal/porcelana</option>
                                    <option value="6">PFU sobre IOI: metálica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Fecha de orden</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Fecha entrega</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Guia de color</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">Chromascope</option>
                                    <option value="2">Marché</option>
                                    <option value="3">Vita 3D master</option>
                                    <option value="4">Vita Classical</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Color</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Area / Pieza</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Material</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">Metal: Cromo/Cobalto</option>
                                    <option value="2">Metal: Cromo/Niquel</option>
                                    <option value="3">Metal: Oro</option>
                                    <option value="4">Cerámica: Aluminosa</option>
                                    <option value="5">Cerámica: Disilicato de Litio(Emax)</option>
                                    <option value="6">Cerámica: Feldespática</option>
                                    <option value="7">Cerámica: Óxido de alúmina</option>
                                    <option value="8">Cerámica: Óxido de magnesio</option>
                                    <option value="9">Cerámica: Óxido de zirconio</option>
                                    <option value="10">Cerámica: Zirconio estabilizado con Itrio</option>
                                    <option value="11">Cerómero: Adoro</option>
                                    <option value="12">Cerómero: Targis</option>
                                    <option value="13">Cerómero: Signum</option>
                                    <option value="14">Acrilico</option>
                                    <option value="15">Cera</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-lg">Sustrato</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-lg form-select">
                                    <option value="1">Dentario</option>
                                    <option value="2">Metálico</option>
                                    <option value="3">Mixto</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control form-control-lg" rows="3" placeholder="Observaciones"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-end ">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<!-- / Interconsultas -->